
<footer class="footer">

    <div class="container">

        <div class="middle layout-xs" align="left">版权声明：本站全部內容均由站长一人出于技术学习写的软件全自动采集其他大型网站免费公开的资源并且维护，如你是资源的版权方需要申请下架视频资源，请联系我们出示证明，本站会第一时间响应并且下架。</div>

        <div class="middle layout-xs" align="left">免责声明：本站并不知道采集站点的资源来源是否合法，本站不保存视频资源、不提供下载、不支持上传。本网站仅作为站长技术提升和交流学习的地方。请各位支持正版。</div>

        <div class="middle layout-xs" align="left">站长邮箱：876335051@qq.com</div>

        <div class="bottom">

            <div class="float-box">

                <i class="fa fa-angle-up" id="goTop" title="返回顶部"></i>

            </div>

        </div>

    </div>
    <script>createjs(5);</script>

</footer>