<header class="header" id="header">

    <div class="container">

       <!-- <h1 class="logo"><a href="/" title="豆沙包动漫网" ></a></h1>-->

        <nav class="main-nav swiper-container">

            <ul class="nav-list swiper-wrapper">
                <!--<li class="nav-item swiper-slide active"><a href="/" rel="nofollow">首页</a></li>-->
                <li class="nav-item swiper-slide"><a href="/" rel="nofollow">首页</a></li>
                <li class="nav-item swiper-slide"><a href="/toCategory?type=jp" target="_blank">日韩动漫</a></li>
                <li class="nav-item swiper-slide"><a href="/toCategory?type=ch"  target="_blank">国产动漫</a></li>
                <li class="nav-item swiper-slide"><a href="/toCategory?type=en" target="_blank">欧美动漫</a></li>
            </ul>

        </nav>

        <div class="search-container">

            <div class="search-wrapper">

                <form id="search" name="search" method="get" action="/toSearch">

                    <input type="text" name="name" id="condition" class="search-input keywords mac_wd" placeholder="搜索动漫名关键字" />

                    <button type="submit" id="searchbutton" class="sbt mac_search"><i class="fa fa-search"></i></button>

                </form>

            </div>

        </div>



    </div>

</header>